/* Small and Medium devices (phones, tablets) */
@media only screen and (max-width: 991px) {
  .header {
    height: 62px;
    background: #00aeef;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo img {
    height:24px;
  }
  .navbar {
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .navbar-toggler {
    height: 62px;
    color: #fff;
    outline: 0 !important;
  }
  .menu-item {
    border-top: 1px solid #fff;
  }
  .nav-menu .menu-item:first-child {
    border-top: none;
  }
  .menu-item .nav-link{
    padding: 15px 23px;
    color: rgb(0, 66, 116);
    background: rgba(255, 255, 255, 0.95);
  }
  .nav-link:active {
    color: #fff;
    background: #00aeef;
  }
  .dropdown:hover .dropdown-toggle {
    background: #00aeef;
  }
  .dropdown-item {
    padding: 15px 23px;
    color: #fff;
    background: #30c7ff;
    border-bottom: 1px solid #fff;
  }
  .dropdown-toggle:after {
    float: right;
    margin: 10px 0;
  }
  .banner h1 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 10px;
  }
  .banner h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .page-title .page-title-header {
    font-size: 22px;
    line-height: 38px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .banner-caption { transform: translateY(20px); }
  .header {
    position: absolute;
  }
  .logo {
    float: left;
    margin-top: -30px;
  }
  .logo img { width: 150px; }
  .navbar { margin: 25px 0;}
  .menu-item .nav-link {
    color: #fff;
    padding: 0 15px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-item {
    width: 250px;
    border-bottom: 1px solid #e6e6e6;
  }
  .dropdown-menu .dropdown-item { 
    color: #2e3e49;
    padding: 15px;
  }
  .navbar a:hover {
    color: #00AEEF;
  }
  .banner h1 {
    font-size: 43px;
    line-height: 43px;
    margin: 0 0 10px;
  }
  .banner h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .page-title .page-title-header {
    font-size: 30px;
    line-height: 38px;
  }
}
/* Small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .content {
    padding: 25px;
    font-size: 12px;
    line-height: 22px;
  }
  .copyright {    
    font-size: 12px;
    line-height: 22px;
    text-align: center;
  }
  .footer {    
    padding: 45px 0 35px;
  }
  .banner h1 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 5px;
  }
  .banner h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    font-size: 16px;
    padding: 40px;
    line-height: 24px;
    font-weight: 300;
  }
  .copyright {    
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
  .footer {    
    padding: 100px 0 70px;
  }
}
/* Laptop devices ( 992px -> 1200px) */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .social-contact {
    width: 300px;
    overflow: hidden;
  }
}

.display-none {
  display: none;
}
.pull-left {
  float: left;
}
.flex {
  display: flex;
}
.full-width {
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
header, main, footer {
  position: relative;
}
strong {
  font-weight: bold;
}

/* Style for header */
.header {
  width: 100%;;
}
.dropdown-menu {
  border-radius: unset;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(255,255,255,0.95);
}
.dropdown-item:hover {
  background: transparent;
}
.header a {
  font-size: 14px;
  font-weight: 500;
}
.banner {
  display: flex;  
  height: 400px;
  align-items: center;
  color: #fff;
  font-weight: 500;
  background: url(../images/background.png) rgba(0, 0, 0, 0.4);
  background-size:cover;
  background-blend-mode: multiply;
}
.banner-caption {
  width: 100%;
  text-align: center;
}

/* Style for main article */
.title {
  padding: 20px 0;
}
.main-section {
  padding-bottom: 40px;
  background: #f5f5f5;
}
.breadcrumb {
  padding: 0;
  margin-bottom: 10px;
  background: none;
}
.breadcrumb-item:before {
  content: none !important;
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: 0;
}
.breadcrumb li {
  font-size: 12px;
  line-height: 12px;
}
.breadcrumb-item a {
  color: #00AEEF;
  font-weight: 400;
}
.content {
  background: #fff;
}
.submit {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  margin-bottom: 16px;
  padding: 11px 15px;
  background: #FF6E00;
  border: 1px solid #FF6E00;
  border-radius: 4px;
}
.submit:hover {
  color: #fff;
  background: #FF6E00;
}
.submit:active {
  color: #fff;
  background: #00aeef;
  border: 1px solid #00AEEF;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  font-size: 14px;
  height: 42px;
  padding: 6px 15px;
  color: #959595;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.form-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 24px;
}
/* Style for footer */
.footer {
  background-color: #181818;  
  margin-bottom: -30px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.footer a {
  font-weight: 300;
  color: #fff;
}
.footer a:hover {
  text-decoration: none;
  color: #00AEEF;
}
.footer-widget {
  margin-bottom: 30px;
}
.footer-title {
  margin-bottom: 17px;
}
.footer-title h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.footer-menu li {
  line-height: 14px;
  margin-bottom: 10px;
}
.footer-sub-menu {
  margin-top: 10px;
  margin-left: 20px;
}
.contact-menu i {
  margin-right: 10px;
}
.copyright {
  background-color: #000000;
  border-top: 1px solid #00243f;
  padding-top: 30px;
  padding-bottom: 25px;  
  color: #fff;
  font-weight: 300;
}
.copyright p {
  margin-bottom: 0;
}
#back-to-top {
  position: fixed;  
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px!important;
  z-index: 999;
  transition: none;
  border-radius: 4px;
  display: flex;
  background-color: #00AEEF;
  border: 1px solid #00AEEF;
  opacity: 0;
}
#back-to-top:hover, #back-to-top:focus{
  box-shadow: inset 0 0 0;
}
#back-to-top.show {
  opacity: 1;
}
